<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web">
        <link rel="stylesheet" href="program.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="topnav">
            <a href="home.html">Home</a>
            <a class="active" href="program.html">Program</a>
            <a href="calendar.html">Calendar</a>
        </div>
        <div id="root">
            <input type="text" id="input" onkeyup="search_exercise()">
        </div>
        <script src="program.js"></script>
    </body>
</html>