<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web">
        <link rel="stylesheet" href="/css/program.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/program">Program</a>
            <a href="/calendar">Calendar</a>
        </div>
        <div id="root">
            <input type="text" id="input" onkeyup="search_exercise()">
        </div>
        <script src="/js/program.js"></script>
    </body>
</html>